*{
    margin: 0%;
    padding: 0;
}

body{
    background-color: wheat;
}
.container{
    width: 80%;
    min-height: 100vh;
    margin: auto;
    background-color: white;
}
input{
    padding: 25px;
    width: 80%;
    box-sizing: border-box;
    border: 1px solid rgb(230, 230,230);
    outline: none;
    font: 100 1.2rem "Lucida Sans";
}
button{
    padding: 25px;
    width: 19%;
    border: 1px solid rgb(230, 230,230);
    background-color: blue;
    color: white;
    font: 100 1.2rem "Lucida Sans";
    outline: none;
    cursor: pointer;
    transition: background-color 0.5s;
}
button:hover{
    background-color: rgb(6, 6, 186);
}
.tags{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.tag{
    width: 30%;
    padding: 25px;
    background-color: darkred;
    color: white;
    box-sizing: border-box;
    font-family: 'Lucida Sans';
    margin: 10px;
    border-radius: 5px;
    transition: all 0.5s;
}
.tag:hover{
    transform: translateY(-10px) scale(1.05);
}